# Nextcloud example environment variables

# ---------------------------------
# Ports
# ---------------------------------
NEXTCLOUD_PORT=[NEXTCLOUD_PORT]

# ---------------------------------
# Data Locations
# ---------------------------------
NEXTCLOUD_CONFIG=/path/to/nextcloud/config
NEXTCLOUD_DATA=/path/to/nextcloud/data
DB_DATA_LOCATION=/path/to/nextcloud/db

# ---------------------------------
# Database Credentials
# ---------------------------------
POSTGRES_USER=[POSTGRES_USER]
POSTGRES_PASSWORD=[POSTGRES_PASSWORD]
POSTGRES_DB=nextcloud
