# Immich example environment variables

# ---------------------------------
# Server Settings
# ---------------------------------
IMMICH_VERSION=v2
IMMICH_SERVER_PORT=[IMMICH_SERVER_PORT]

# ---------------------------------
# Data Locations
# ---------------------------------
UPLOAD_LOCATION=/path/to/immich/uploads
DB_DATA_LOCATION=/path/to/immich/database

# ---------------------------------
# Database Credentials
# ---------------------------------
DB_USERNAME=postgres
DB_PASSWORD=your_postgres_password
DB_DATABASE_NAME=immich
