# =========================================
# Pi-hole
# =========================================

# ---------------------------------
# Network Settings
# ---------------------------------
PIHOLE_IP=192.168.0.249    # Static IP for Pi-hole container (ipvlan)

# ---------------------------------
# System Settings
# ---------------------------------
TZ=Europe/London           # Timezone for logs and statistics

# ---------------------------------
# Admin Credentials
# ---------------------------------
PIHOLE_WEBPASSWORD=replace_with_password  # Web interface password (change this!)

# ---------------------------------
# Volumes
# ---------------------------------
PIHOLE_CONFIG_PATH=/etc/pihole    # Pi-hole configuration directory
PIHOLE_LOG_PATH=/var/log/pihole   # DNS query logs
