# System
TZ=Europe/London
PUID=1000
PGID=1000

# Homepage
HOMEPAGE_PORT=3000
HOMEPAGE_ALLOWED_HOSTS=example.duckdns.org

# Uptime Kuma
UPTIME_KUMA_PORT=3001

# Dozzle
DOZZLE_PORT=9999

# Glances
GLANCES_OPT=-w
